
{% extends 'base.html' %}
{% block content %}

The value of the url is {{pk}}
  <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>О нас</h2>
          <p>На стадии доработки </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Много чего можно рассказать...
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Нужная дополнительная информация</li>

            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Давным-давно, на самой заре человечества жили-были старик со старухой...
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock %}